<h1>Event</h1>
<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Price low:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Price high:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<%= render "tickets_list", tickets: @event.tickets %>

<h2>New ticket</h2>
<%= render "new_ticket", ticket: current_user.tickets.new(:event_id=>@event.id) %> 

<%= link_to 'Back', events_path %>