<div class="container w-50">
<h2>Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.password_field :password, autocomplete: "current-password" %>

  <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
  <% end %>

  <div class="actions mt-2 mb-2">
    <%= f.submit "Log in", :class => "btn btn-success" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


</div>
